/*
 * Less functions
 */
.box-shadow(@arguments) {
	-webkit-box-shadow: @arguments;
	-khtml-box-shadow: @arguments;
	-moz-box-shadow: @arguments;
	-o-box-shadow: @arguments;
	box-shadow: @arguments;
}

.border-radius(@radius) {
	-webkit-border-radius: @radius;
	-khtml-border-radius: @radius;
	-moz-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}

.transition(@arguments) {
	-webkit-transition: @arguments;
	-khtml-transition: @arguments;
	-moz-transition: @arguments;
	-o-transition: @arguments;
	transition: @arguments;
}

.transform(@arguments) {
	-webkit-transform: @arguments;
	-khtml-transform: @arguments;
	-moz-transform: @arguments;
	-o-transform: @arguments;
	transform: @arguments;
}
.box-sizing(@arguments) {
	-webkit-box-sizing: @arguments;
	-moz-box-sizing: @arguments;
	box-sizing: @arguments;
}
.font-smoothing(@arguments) {
	-webkit-font-smoothing: @arguments;
}

/*
 * Colors
 */

@darkred: rgba(125,43,0,1);
@green: rgba(183,191,141,1);
@beige: rgba(255,255,233,1);
@brown: rgba(47,10,7,1);

/*
 * UI Functions
 */

.cute-box() {
	padding-top: 20px;
	margin-bottom: 20px;
	background: #fff url(../img/rusty-bg.png);
	.box-shadow(0 2px 4px rgba(0,0,0,0.3));
	.transition(all .2s ease-in-out);
	header {
		padding: 0 20px;
	}
	section {
		padding: 0 20px;
	}
	&:hover {
		.box-shadow(0 3px 5px rgba(0,0,0,0.3));
	}
}

.button,
button,
input[type=submit] {
	font-weight: 800;
	padding: 12px 15px;
	.box-shadow(~"0 2px 3px rgba(0,0,0,0.2), inset 0 2px 10px rgba(255,255,255,.8)");
	background: @beige url(../img/rusty-bg.png);
	.border-radius(4px);
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 1px 1px 1px #fff;
	cursor: pointer;
	color: #333;
	.transition(all .2s ease-in-out);
	.font-smoothing(antialiased);
	text-rendering: optimizeLegibility;
	&:hover {
		.box-shadow(0 2px 4px rgba(0,0,0,0.4));
	}
	&:active {
		.box-shadow(inset 0 1px 4px rgba(0,0,0,0.5));
	}
	&.darkred {
		background-color: @darkred;
		color: #fff;
		text-shadow: 1px 1px 1px darken(@darkred, 10%);
		.box-shadow(0 2px 3px rgba(0,0,0,0.2));
		&:hover {
			.box-shadow(0 2px 4px rgba(0,0,0,0.4));
		}
		&:active {
			.box-shadow(inset 0 1px 4px rgba(0,0,0,0.8));
		}
	}
	&.gray {
		background: #f0f0f0;
	}
	&.dark {
		background-color: #111;
		color: @beige;
		text-shadow: 1px 1px 1px #000;
		border: 1px solid #0f0f0f;
		.box-shadow(~"0 2px 3px rgba(0,0,0,0.2), inset 0 2px 10px rgba(255,255,255,.05)");
		&:hover {
			.box-shadow(0 3px 4px rgba(0,0,0,0.2));
		}
		&:active {
			.box-shadow(inset 0 3px 4px rgba(0,0,0,0.2));
		}
	}
}

body {
	font: 12px/16px "Open Sans", "Helvetica", "Arial", sans-serif;
	.font-smoothing(antialiased);
	text-rendering: optimizeLegibility;
	background: #eeeee7;
}

a {
	.transition(all .2s ease-in-out);
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
	font-weight: 800;
}

header#masthead {
	width: 100%;
	height: 352px;
	background: url(../img/header.jpg) top center no-repeat;
	position: relative;
	z-index: 3;
	h1 {
		margin: 30px 0;
		padding: 0;
		a {
			text-indent: -9999px;
			display: block;
			width: 305px;
			height: 283px;
			line-height: 0px;
			img {
				display: block;
			}
		}
	}
	p.desc {
		font-weight: 800;
		margin: 160px 0 0;
		font-size: 13px;
		line-height: 22px;
		text-align: justify;
		color: #111;
		text-shadow: 0 0 10px rgba(255,255,255,1);
	}
	p.navigate {
		margin-top: 50px;
		text-align: right;
		font-size: 15px;
		a {
			font-weight: 800;
			color: @darkred;
			text-decoration: none;
			&:hover {
				color: #000;
			}
		}
	}
}

#main-nav {
	background: #300a07;
	.box-shadow(0 2px 20px 5px rgba(0,0,0,0.2));
	position: relative;
	z-index: 2;
	ul {
		margin: 0 auto;
		padding: 0;
		display: table;
		li {
			display: table-cell;
			margin: 0;
			padding: 0;
			a {
				font-size: 13px;
				line-height: 20px;
				display: block;
				padding: 15px;
				color: #ffffe9;
				font-weight: 600;
				text-transform: uppercase;
				text-decoration: none;
				text-shadow: 1px 1px 1px #000;
				&:hover {
					color: #fff;
				}
			}
		}
	}
}

#map {
	width: 100%;
	height: 600px;
	margin: 0 0 30px;
	position: relative;
	background: url(../img/map-bg.jpg);
	.container {
		height: 0;
		position: relative;
		z-index: 999;
		.map-title {
			position: absolute;
			font-family: "Black Ops One";
			font-weight: normal;
			color: #fffee9;
			background: #300a07;
			padding: 14px 18px;
			font-size: 35px;
			line-height: 40px;
			float: left;
			a {
				color: #fffee9;
				text-decoration: none;
			}
		}
		h2.map-title {
			font-size: 28px;
			line-height: 30px;
		}
	}
	.map-container {
		width: 100%;
		height: 100%;
		.zoomout {
			left: auto;
			top: 20px;
			right: 39px;
		}
		.zoomin {
			left: auto;
			top: 20px;
			right: 10px;
		}
		.map-fullscreen {
			left: auto;
			top: 20px;
			right: 80px;
		}
		.map-tooltip {
			top: 70px;
		}
	}
	.map-widgets {
		left: 20px;
		right: auto;
		top: auto;
		bottom: 20px;
	}
	.highlight-point {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 200px;
		height: 200px;
		margin-top: -2020px;
		margin-left: -2000px;
		.border-radius(2000px);
		border: 1900px solid rgba(0,0,0,0.6);
		pointer-events: all;
		&.animate {
			-webkit-animation-duration: 1s;
			-webkit-animation-timing-function: ease;
			-webkit-animation-iteration-count: 1;
			-webkit-animation-name: map-point-highlight;
			-webkit-animation-delay: .5s;
			-webkit-animation-fill-mode: forwards;
		}
	}
	.disable-point {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background:rgba(0,0,0,0.8);
		text-align: center;
		padding-top: 100px;
		span {
			font-size: 20px;
			line-height: 20px;
			color: #111;
			font-weight: 800;
			background: #f6f6f6;
			padding: 3px 6px;
		}
	}
}

.single {
	#map {
		height: 350px;
		.map-widgets {
			display: none !important;
		}
	}
}

@-webkit-keyframes map-point-highlight {
	0% {
		margin-top: -2020px;
		margin-left: -2000px;
		.border-radius(2000px);
		border: 1900px solid rgba(0,0,0,0.6);
	}
	100% {
		width: 1900px;
		height: 1900px;
		border: 850px solid rgba(0,0,0,0);
	}
}

/*
 * Home sections
 */

.content-section {
	margin-bottom: 40px;
	h2 {
		font-family: "Open Sans";
		font-weight: 800;
		text-transform: lowercase;
		font-size: 18px;
		line-height: 22px;
		padding-bottom: 10px;
		color: #333;
		a {
			color: #333;
			text-decoration: none;
			opacity: .3;
			&:hover {
				opacity: 1;
			}
		}
		.sep {
			font-size: 8px;
			line-height: 16px;
			padding: 0 5px;
			opacity: .3;
		}
	}
	&.archive {
		h2 {
			text-transform: none;
			border: 0;
		}
	}
	&.platform {
		border-top: 20px solid #0f0f0f;
		background: #333 url(../img/rusty-bg.png);
		margin-top: -30px;
		padding-bottom: 20px;
		.box-shadow(~"0 2px 3px rgba(0,0,0,.9), inset 0 50px 100px rgba(0,0,0,.6)");
		border-bottom: 5px solid #333;
		&.archive {
			margin-bottom: 0;
		}
		.button {
			width: auto;
			padding: 10px 12px;
			float: right;
			font-size: 10px;
		}
		h2 {
			color: #f0f0f0;
			text-shadow: 1px 1px 1px #222;
			margin: 30px 0 20px;
			text-transform: none;
			font-size: 18px;
			a {
				color: #f0f0f0;
				opacity: .3;
				text-decoration: none;
				&:hover {
					opacity: 1;
				}
			}
			.sep {
				font-size: 8px;
				line-height: 16px;
				padding: 0 5px;
				opacity: .3;
			}
		}
	}
	&.post {
		h2 {
			color: #888;
			border-bottom: 1px solid #888;
			margin-bottom: 20px;
		}
	}
	&.accident {
		h2 {
			color: @darkred;
			border-bottom: 1px solid @darkred;
			margin-bottom: 20px;
			a {
				color: @darkred;
			}
		}
		&.archive {
			h2 {
				border: 0;
			}
		}
	}
	.button {
		display: block;
		margin: 20px 0;
		width: 100%;
		padding: 20px 0;
		text-align: center;
	}
}

#info-box {
	background: @green url(../img/rusty-bg.png);
	padding: 40px 0;
	.box-shadow(0 0 4px rgba(0,0,0,0.2));
	h2 {
		font-family: "Black Ops One";
		font-weight: normal;
		color: #333;
		margin: 0 0 30px;
		line-height: 35px;
		text-shadow: 2px 2px 1px darken(@green, 10%);
	}
	p {
		font-size: 16px;
		line-height: 24px;
		font-weight: 600;
		color: #444;
		text-shadow: 1px 1px 1px darken(@green, 10%);
	}
	a.button {
		float: right;
		margin: 20px 0 20px 60px;
		padding: 17px 0;
		width: 220px;
		text-align: center;
	}
}

/*
 * Map custom style
 */

.map-container {
	.map {
		&.zoom-5,
		&.zoom-6 {
			.story-points {
				&.type-platform {
					width: 20px !important;
					height: 29px !important;
					margin-top: -29px !important;
					margin-left: -15px !important;
					background: url(../img/icons/platform_new_small.png) !important;
					&.old-platform {
						background: url(../img/icons/platform_old_small.png) !important;
					}
					.popup {
						bottom: 39px !important;
					}
				}
			}
		}
		.popup {
			background: #300a07 !important;
			color: #fffee9 !important;
			.arrow {
				border-top: 10px solid #300a07 !important;
			}
			h4 {
				color: #fffee9;
				font-family: "Black Ops One";
				font-weight: normal;
			}
		}
	}
}

/*
 * Platform card style
 */

.card.platform {
	article {
		.cute-box();
		h3 {
			font-size: 20px;
			line-height: 24px;
			margin-bottom: 10px;
			a {
				font-family: "Black Ops One";
				font-weight: normal;
				font-size: 20px;
				color: @darkred;
				text-decoration: none;
			}
		}
		.summary {
			height: 90px;
			.metadata {
				height: 55px;
			}
			p {
				font-size: 11px;
				line-height: 18px;
				margin: 0 0 10px;
				color: #999;
				a {
					display: block;
					color: #999;
					text-decoration: none;
					&:hover {
						color: #111;
					}
				}
				&.icon {
					padding-left: 25px;
					background-position: left center;
					background-repeat: no-repeat;
					&.person {
						background-image: url(../img/icons/person.png);
					}
					&.gear {
						background-image: url(../img/icons/gear.png);
					}
					&.time {
						background-image: url(../img/icons/time.png);
					}
					&.warning {
						background-image: url(../img/icons/warning.png);
					}
					&.time,
					&.warning {
						width: 50%;
						float: left;
						font-size: 16px;
						margin: 10px 0;
						.box-sizing(border-box);
						font-weight: 800;
						color: #444;
					}
				}
			}
		}
		footer {
			margin-top: 20px;
			padding: 15px 20px;
			background: rgba(0,0,0,0.7);
			p {
				margin: 0;
				opacity: .7;
				.transition(all .2s ease-in-out);
				a {
					display: block;
					float: left;
					color: rgba(255,255,255,0.5);
					text-decoration: none;
					font-size: 11px;
					line-height: 18px;
					margin-right: 20px;
					&.icon {
						padding-left: 25px;
						background-position: left center;
						background-repeat: no-repeat;
						&.info {
							background-image: url(../img/icons/info.png);
						}
						&.location {
							background-image: url(../img/icons/location.png);
						}
					}
					&:hover {
						color: #fff;
					}
				}
			}
			&:hover {
				p {
					opacity:1;
				}
			}
		}
	}
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	.container {
		.loop.platform {
			ul {
				li {
					width: 100%;
					margin: 0 0 20px;
					.summary {
						height: auto;
						.metadata,
						.info {
							width: 50%;
							float: left;
						}
					}
				}
			}
		}
	}
}

.card.post {
	article {
		h3 {
			font-size: 20px;
			line-height: 24px;
			a {
				font-weight: 800;
				text-decoration: none;
			}
		}
		section {
			padding-bottom: 10px;
			p {
				margin: 0;
			}
		}
	}
}

.card.accident {
	article {
		position: relative;
		h3 {
			font-size: 18px;
			line-height: 22px;
			min-height: 30px;
			position: relative;
			padding-left: 40px;
			a {
				font-family: "Black Ops One";
				font-weight: normal;
				color: @darkred;
				font-size: 18px;
				line-height: 22px;
				text-decoration: none;
			}
		}
		.date-container {
			width: 50px;
			margin-top: 5px;
			float: left;
		}
		span.date {
			display: inline;
			padding: 0 5px;
			background: #333;
			font-size: 14px;
			line-height: 18px;
			color: @beige;
			font-family: "Black Ops One";
			font-weight: normal;
		}
		.offset {
			padding-left: 70px;
		}
	}
	header {
		position: relative;
		.icon {
			width: 50px;
			top: 0;
			bottom: 0;
			left: 0;
			float: left;
			position: absolute;
			background-position:left center;
			background-repeat: no-repeat;
			background-image: url(../img/icons/generic-accident.png);
			&.blowout,
			&.incendio,
			&.falha-blow-out-preventer-bop {
				background-image: url(../img/icons/blowout.png);
			}
			&.leak,
			&.vazamento {
				background-image: url(../img/icons/leak.png);
			}
		}
	}
	&.details {
		article {
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid #ddd;
			padding-left: 70px;
			h3 {
				padding-left: 0;
				float: none;
				a {
					font-family: "Black Ops One";
					font-weight: normal;
					color: @darkred;
					font-size: 20px;
					text-decoration: none;
					span.date {
						background: #333;
						font-size: 16px;
						line-height: 20px;
						padding: 0 5px;
						color: @beige;
						margin-left: 10px;
						float: none;
					}
				}
			}
			header {
				position: static;
				.icon {
					float: none;
					top: 0;
					bottom: 20px;
					left: 10px;
					width: 70px;
					height: auto;
				}
			}
			section {
				display: block;
				p {
					margin: 0;
				}
			}
		}
	}
}

.loop.news {
	li {
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #ddd;
		&:last-child {
			border: 0;
		}
	}
}

.loop.accident {
	li.masonry-item {
		width: 33%;
		.box-sizing(border-box);
		padding: 0 20px 20px 0;
		float: left;
		margin: 0;
		.card {
			padding: 20px;
			background: #fff url(../img/rusty-bg.png);
		}
	}
	&.details {
		li {
			height: auto;
		}
	}
}

.loop.attachments {
	li {
		width: 25%;
		margin: 0;
		padding: 5px;
		.box-sizing(border-box);
		img {
			width: 100%;
			height: auto;
			display: block;
		}
	}
}

/*
 * Navigation
 */

.navigation {
	.wp-paginate {
		float: right;
		margin-bottom: 30px;
		.current {
			background: #333;
			border-color: #333;
			.box-shadow(0 0 2px rgba(0,0,0,0));
		}
		li {
			span,
			a {
				padding: 5px 8px;
				.border-radius(3px);
			}
		}
	}
}

/*
 * Search
 */

.search-list {
	.search-item {
		width: 33%;
		padding: 0 20px 20px 0;
		margin: 0;
		.box-sizing(border-box);
		.card {
			background: #fff url(../img/rusty-bg.png);
			&.accident,
			&.post {
				padding: 20px;
			}
		}
	}
}

/* 
 * Single content
 */

 .single {
 	.map-content-box {
		.border-radius(0 0 5px 5px);
		.box-shadow(0 2px 3px 2px rgba(0,0,0,0.2));
		background: url(../img/rusty-bg.png);
		margin-top: -30px;
		padding-top: 25px;
		margin-bottom: 30px;
		&.old-stamp {
			position: relative;
			&:after {
				content: '';
				position: absolute;
				width: 149px;
				height: 149px;
				background: url(../img/stamp.png);
				bottom: -30px;
				right: -30px;
				opacity: .9;
			}
			tr.year,
			tr.age {
				td {
					font-weight: bold;
					font-size: 120%;
					color: @darkred;
				}
			}
		}
 		.header {
 			margin-top: -180px;
 			h1 {
				background: #111 url(../img/rusty-bg.png);
				color: @beige;
				padding: 10px 15px;
				margin: 0 0 0 20px;
				font-family: "Black Ops One";
				font-weight: normal;
				font-size: 30px;
				line-height: 40px;
				float: left;
				.border-radius(5px 5px 0 0);
				text-shadow: 2px 2px 1px #000;
				max-width: 85%;
				.box-shadow(~"inset 0 2px 10px rgba(255,255,255,0.05)");
				border-top: 1px solid #111;
				border-right: 1px solid #111;
				border-left: 1px solid #111;
 			}
 			.main-meta {
				background: #eeeee7 url(../img/rusty-bg.png);
				padding: 30px;
				.box-sizing(border-box);
				.border-radius(5px 5px 0 0);
				.box-shadow(0 -11px 10px 5px rgba(0,0,0,0.2));
				p {
					width: 50%;
					height: 50px;
					float: left;
					padding-left: 70px;
					.box-sizing(border-box);
					background-repeat: no-repeat;
					background-position: left center;
					margin: 0;
					a {
						text-decoration: none;
					}
					&.owner {
						background-image: url(../img/icons/person-big.png);
					}
					&.operator {
						background-image: url(../img/icons/gear-big.png);
					}
					&.platform {
						background-image: url(../img/icons/platform.png);
					}
					&.date {
						background-image: url(../img/icons/calendar.png);
					}
					span {
						font-weight: 800;
						display: block;
						font-size: 18px;
						color: @darkred;
						margin: 10px 0 5px;
					}
				}
 			}
 		}
 		.main-section {
			padding: 15px 30px;
			p {
				font-size: 13px;
				line-height: 20px;
			}
		}
 	}
 	.below-content {
 		font-size: 14px;
 		line-height: 22px;
 		margin-bottom: 30px;
 	}
	.related-content {
		margin-top: -85px;
		margin-bottom: 30px;
		h2 {
			font-weight: 800;
			font-size: 24px;
			line-height: 30px;
		}
		h3 {
			font-weight: 800;
			font-size: 18px;
			line-height: 24px;
		}
		ul {
			li {
				border-bottom: 1px dotted #ccccc7;
			}
		}
		.loop.news {
			article {
				margin: 0;
				border: 0;
				section {
					margin: 0;
				}
			}
		}
		.links {
			ul {
				li {
					margin: 5px 0;
				}
			}
			h3 {
				font-size: 12px;
				line-height: 18px;
				font-weight: normal;
				a {
					color: #666;
					text-decoration: none;
					&:hover {
						color: #333;
					}
				}
			}
		}
		> div:first-child {
			h2 {
				font-size: 26px;
				line-height: 32px;
				color: @beige;
				text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
				margin-bottom: 50px;
			}
		}
	}
	.social {
		> div {
			float: left;
			margin: 0 20px 0 0;
		}
	}
	.single-section {
		margin-bottom: 30px;
		h2 {
			font-family: "Black Ops One";
			font-weight: normal;
			font-size: 26px;
			line-height: 30px;
		}
	}
	.accidents {
	}
	.multimedia {
	}
 }

 .single-accident,
 .single-platform {
 	.map-title {
 		margin-left: 20px !important;
 	}
 	.hentry {
 		margin-bottom: 40px;
 	}
 }

.page-header {
	border-bottom: 1px dotted #999;
	padding-bottom: 15px;
	margin: 0 0 30px;
	padding: 40px 0;
	background: #fff;
	.breadcrumb {
		font-size: 12px;
		color: #666;
		margin: 0 0 5px;
		a {
			color: #666;
			text-decoration: none;
		}
		.sep {
			font-size: 8px;
			line-height: 16px;
			padding: 0 5px;
			opacity: .6;
		}
	}
	h1 {
		max-width: 650px;
		font-size: 30px;
		line-height: 36px;
		margin-bottom: 5px;
	}
	.description {
		margin: 0;
	}
	.social {
		float: right;
		margin-top: 15px;
		> div {
			float: left;
			margin: 0 10px 0 0;
			&.twitter {
				width: 87px !important;
			}
		}
	}
	.post-meta {
		font-size: 12px;
		color: #999;
		margin: 0;
		p {
			margin: 0;
		}
	}
}

 .single-post,
 .page {
 	.main-container {
 		margin-bottom: 30px;
 		article {
 			font-size: 14px;
 			line-height: 20px;
 			header {
 			}
		 	section {
		 		h2, h3 {
		 			font-size: 20px;
		 			line-height: 30px;
		 		}
		 		.alignleft {
		 			float: left;
		 			margin: 0 30px 30px 0;
		 		}
		 		.alignright {
		 			float: right;
		 			margin: 0 0 30px 30px;
		 		}
		 		ul {
		 			margin-left: 30px;
		 			list-style: disc;
		 			li {
		 				line-height: 18px;
		 				margin-bottom: 12px;
		 			}
		 		}
		 	}
	 	}
	 	aside {
	 		h2,h3,h4 {
	 			font-size: 24px;
	 			line-height: 30px;
	 		}
	 	}
 	}
 }

.single-platform {
	.platform-content {
		.platform-data {
			.platform-status {
				//.border-radius(5px);
				padding: 0 0 10px;
				border-bottom: 1px dotted #bbbbb7;
				h3 {
					font-weight: 800;
					font-size: 20px;
					line-height: 24px;
					float: left;
					width: 50%;
					margin: 0;
					color: #333;
				}
				p.status-title {
					float: left;
					line-height: 24px;
					font-weight: 600;
					margin: 0;
					//color: darken(@beige, 5%);
					&:before {
						content: '';
						float: left;
						width: 14px;
						height: 14px;
						margin: 4px 15px 0 0;
						.border-radius(7px);
						background: #555;
						.box-shadow(~"0 0 6px 1px #666, inset 0 0 2px 1px #505050");
					}
					&.green {
						&:before {
							background: #0a0;
							.box-shadow(~"0 0 6px 1px #0c0, inset 0 0 2px 1px #090");
						}
					}
				}
			}
			.platform-data-table {
				margin: 0 0 20px;
				table {
					width: 100%;
					a {
						text-decoration: none;
						border-bottom: 1px dotted #999;
					}
					tr {
						border-bottom: 1px dotted #ccccc7;
						th {
							width: 50%;
							font-weight: 600;
							text-align: left;
							padding: 15px 0;
							font-size: 13px;
						}
						td {
							padding: 15px 0;
						}
						&:last-child {
							border: 0;
							td,
							th {
								padding-bottom: 0;

							}
						}
					}
				}
			}
		}
	}
}

/*
 * Sidebar
 */

#sidebar {
	.widgets {
		margin: 0;
		padding: 0;
		list-style: none;
		.widget {
			margin-bottom: 30px;
			.widget-title {
				font-size: 18px;
				margin: 0;
				line-height: 24px;
				padding: 10px 14px;
				.border-radius(5px 5px 0 0);
				background: #111 url(../img/rusty-bg.png);
				color: @beige;
				text-shadow: 1px 1px 1px #000;
			}
			ul,
			ol {
				margin: 0;
				padding: 0;
				li {
					margin: 0;
					padding: 5px 0;
					border-bottom: 1px dotted #999;
				}
			}
			a {
				text-decoration: none;
			}
		}
	}
}

/*
 * Master footer
 */

#site-footer {
	background: #1f1f1f;
	width: 100%;
	height: 250px;
	.credits {
		width: 100%;
		height: 130px;
		padding: 20px 40px;
		.box-sizing(border-box);
		background: #fffff7;
		.border-radius(3px 3px 0 0);
		margin-top: -2px;
		.box-shadow(0 -2px 2px rgba(0,0,0,0.2));
		position: relative;
		p {
			font-weight: 300;
			font-size: 10px;
			color: #666;
			text-align: center;
			margin: 0;
			position: relative;
			z-index: 2;
		}
		img {
			display: block;
			margin: 10px 0 20px;
		}
		p.cardume {
			img {
				margin-left: 55px;
			}
		}
		&:after {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			bottom: -50px;
			left: 0;
			border-left: 110px solid transparent;
			border-right: 110px solid transparent;
			border-top: 50px solid #fffff7;
		}
	}
	.small-credits {
		margin-top: 70px;
		font-size: 11px;
		color: #555;
		text-align: center;
		a {
			color: #666;
		}
	}
}